* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 300vh;
}

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --bg-blade-grey: #f1f5f8;
  --bg-blade-nav-grey: #617d98;
  --heading-text: #102a42;
}

.top_header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(./images/main-bcg.jpeg) center/cover no-repeat fixed;
}

.side_menu_bar {
  position: absolute;
  top: 40px;
  left: 40px;
  animation: zoom_in_out 1.8s ease-in-out infinite;
  cursor: pointer;
}
.bar {
  width: 45px;
  height: 6px;
  background-color: var(--clr-primary);
  margin-top: 8px;
  border-radius: 2px;
}

.side_blade_window {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-blade-grey);
  display: block;
  z-index: 100;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

/* CSS FOR JS */

.side_blade_window_open {
  transform: translateX(0px);
}

.cancel_arrow_section {
  position: relative;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}
.cancel_arrow {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  height: 30px;
}

.cancel_bar {
  background-color: rgba(253, 92, 99, 1);
  width: 40px;
  height: 8px;
  border-radius: 5px;
}

.cancel_bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.cancel_bar:nth-child(2) {
  transform: rotate(-45deg);
}
/* .cancel_bar:hover {
  background-color: #aa0000;
} */

/* ANIMATION */

@keyframes zoom_in_out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.8);
  }

  100% {
    transform: scale(1);
  }
}

.side_blade_navbar {
  text-transform: uppercase;
}

.side_blade_navbar_list {
  list-style: none;
}

.side_blade_navbar_link {
  color: var(--bg-blade-nav-grey);
}

.side_blade_navbar_link:hover {
  background: var(--clr-primary-light);
  position: relative;
  border-left: 5px solid var(--clr-primary);
  transition: all 0.5s ease;
}

.side_blade_navbar_link a {
  display: inline-block;
  width: 100%;
  color: var(--bg-blade-nav-grey);
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 12px 0px;
  padding-left: 15px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.side_blade_navbar_link a:hover {
  color: var(--clr-primary);
  cursor: pointer;
  transform: translateX(4%);
}

.header_content {
  position: absolute;
  width: 500px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_1 {
  text-transform: capitalize;
  font-family: cursive;
  font-size: 1.25rem;
  margin-bottom: 20px;
  color: var(--clr-primary);
  animation: intro_anime_h1 5s ease-in-out 1;
}

.heading_2 {
  width: 500px;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 32px;
  color: #fff;
  font-family: "Roboto";
  animation: intro_anime_h2 5s ease-in-out 1;
  line-height: 1;
  letter-spacing: 2.4px;
}

.exp_btn {
  font-family: "Roboto";
  font-size: 1.4rem;
  letter-spacing: 2.4px;
  font-weight: 500;
  padding: 15px 25px;
  text-transform: uppercase;
  outline: 3px solid var(--clr-primary);
  outline-offset: 4px;
  background-color: var(--clr-primary);
  color: #fff;
  border: none;
  animation: intro_anime_btn 5s ease-in-out 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.exp_btn:hover {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
}

@keyframes intro_anime_h1 {
  0% {
    transform: translateX(930px);
    opacity: 0;
  }

  50% {
    transform: translateX(-200px);
    opacity: 25;
  }

  75% {
    transform: translateX(75px);
    opacity: 75;
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}

@keyframes intro_anime_h2 {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }

  50% {
    transform: translateX(200px);
    opacity: 25;
  }

  75% {
    transform: translateX(-75px);
    opacity: 75;
  }
  100% {
    transform: translateX(0px);
    opacity: 100;
  }
}

@keyframes intro_anime_btn {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.8);
    opacity: 50;
  }

  100% {
    transform: scale(1);
  }
}

.gradient_seperator {
  min-height: 9px;
  width: 100%;
  background: linear-gradient(to right, #678e3e, #99a129, #343d0d);
}

.catergory_layout_box {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: var(--bg-blade-grey);
  padding: 40px 30px;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.catergory_layout_box:hover {
  background-color: #fff;
  border-bottom: 2px solid var(--clr-primary);
}

.catergory_layout_icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  transition: all 0.5s;
}

.catergory_layout_icon:hover {
  transform: translateY(-7px);
}

.catergory_layout_icon > i {
  font-size: 2.8rem;
  color: var(--clr-primary);
}

.mid_text {
  color: var(--heading-text);
  letter-spacing: 4px;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 0.95rem;
  margin-bottom: 20px;
  margin-top: 80px;
}

.cater_text {
  color: var(--bg-blade-nav-grey);
  font-size: 0.9rem;
}

.catergory_layout::after {
  content: "";
  display: block;
  clear: both;
}

.our-services {
  padding: 60px 10px;
}

.our-services h5 {
  text-align: center;
  font-size: 1.5rem;
  font-family: cursive;
  color: #639911;
}

.our-services h2 {
  text-align: center;
  letter-spacing: 2.5px;
  margin: 1rem 0;
  font-size: 2.25rem;
  color: #002d62;
  font-family: "Roboto", sans-serif;
}
.services {
  padding: 20px 40px;
  margin: 1rem 0;
}

.box {
  width: 100%;
  height: 500px;
  background-color: #f0f8ff;
  border-radius: 10px;
  position: relative;
  transition: 0.5s all ease-in-out;
  margin-bottom: 30px;
}

.box:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 10px #707070;
}
.bg-pic {
  height: 50%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img1 {
  background: url(./images/product-1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.img2 {
  background: url(./images/product-2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.img3 {
  background: url(./images/product-3.jpeg) center/cover scroll no-repeat;
}

.center-icon {
  position: absolute;
  padding: 15px;
  background-color: #88b04b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 7px solid #f0f8ff;
  border-radius: 100px;
}

.center-icon i {
  font-size: 1.75rem;
}

.ser-content {
  padding: 2.5rem 0rem;
}

.ser-content h6 {
  margin: 10px 0px;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 1.15rem;
}

.ser-content p {
  margin: 10px 0px;
  text-align: center;
  line-height: 20px;
}

.ser-btn {
  text-align: center;
}

.ser-content button {
  margin: 20px 0px;
  display: inline-block;
  padding: 7px 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #639911;
  font-size: 0.75rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.ser-content button:hover {
  color: #639911;
  background-color: #c9f08f;
}

.services::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 768px) {
  .box {
    float: left;
    width: 47%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 992px) {
  .box {
    float: left;
    width: 30%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 576px) {
  .catergory_layout_box {
    float: left;
    width: 50%;
  }
  .heading_1,
  .heading_2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .catergory_layout_box {
    float: left;
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .side_blade_window {
    width: 320px;
  }
}
